
.root-pane {
    -fx-background-color: #1a1a1a;
}

.vbox-pane {
    -fx-background-color: #1a1a1a;
}

.title-label {
    /*-fx-text-fill: white;*/
    -fx-font-size: 50pt;
    -fx-font-weight: bold;
    -fx-font-family: 'Impact';
}

.search-field {
    -fx-background-color: #212121;
    -fx-text-fill: white;
    -fx-font-size: 15pt;
    -fx-background-radius: 10; /* Add background radius */
    -fx-border-color: #212121;
    -fx-border-width: 0.25; /* Add border width */
    -fx-border-radius: 10; /* Add border radius */
}

.search-field:focused {
    -fx-background-radius: 10; /* Add background radius */
    -fx-border-color: grey;
    -fx-border-width: 0.5; /* Add border width */
    -fx-border-radius: 10; /* Add border radius */
}

.table-view {
    -fx-background-color: #212121;
    -fx-text-fill: white;
}

.table-view .scroll-bar {
    -fx-background-color: #212121;
}

.add-button {
    -fx-font-weight: bold;
    -fx-font-size: 17pt;
    -fx-font-family: 'Impact';
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 10);
    -fx-transition: all 0.3s ease;
    -fx-background-color: transparent;
    -fx-background-radius: 15; /* Add background radius */
    -fx-border-width: 0.5; /* Add border width */
    -fx-border-radius: 15; /* Add border radius */
}

.add-button:hover {
    -fx-font-size: 19pt; /* Increase font size on hover */
    -fx-scale-x: 1.1; /* Scale button size on hover */
    -fx-scale-y: 1.1;
    -fx-cursor: pointer;
    -fx-background-color: transparent;
}

.update-button {
    -fx-font-weight: bold;
    -fx-font-size: 17pt;
    -fx-font-family: 'Impact';
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 10);
    -fx-transition: all 0.3s ease;
    -fx-background-color: transparent;
    -fx-background-radius: 15; /* Add background radius */
    -fx-border-width: 0.5; /* Add border width */
    -fx-border-radius: 15; /* Add border radius */
}

.update-button:hover {
    -fx-font-size: 19pt; /* Increase font size on hover */
    -fx-scale-x: 1.1; /* Scale button size on hover */
    -fx-scale-y: 1.1;
    -fx-cursor: pointer;
    -fx-background-color: transparent;


}

.back-button {
    -fx-font-weight: bold;
    -fx-font-size: 17pt;
    -fx-font-family: 'Impact';
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 10);
    -fx-transition: all 0.3s ease;
    -fx-background-color: transparent;
    -fx-background-radius: 15; /* Add background radius */
    -fx-border-width: 0.5; /* Add border width */
    -fx-border-radius: 15; /* Add border radius */
}

.back-button:hover {
    -fx-font-size: 19pt; /* Increase font size on hover */
    -fx-scale-x: 1.1; /* Scale button size on hover */
    -fx-scale-y: 1.1;
    -fx-cursor: pointer;
    -fx-background-color: transparent;

}

.delete-button {
    -fx-font-weight: bold;
    -fx-font-size: 17pt;
    -fx-font-family: 'Impact';
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 10);
    -fx-transition: all 0.3s ease;
    -fx-background-color: transparent;
    -fx-background-radius: 15; /* Add background radius */
    -fx-border-width: 0.5; /* Add border width */
    -fx-border-radius: 15; /* Add border radius */
}

.delete-button:hover {
    -fx-font-size: 19pt; /* Increase font size on hover */
    -fx-scale-x: 1.1; /* Scale button size on hover */
    -fx-scale-y: 1.1;
    -fx-cursor: pointer;
    -fx-background-color: transparent;

}

.table-row-cell {
    -fx-text-fill: white;
    -fx-background-color: #212121;
}

.table-row-cell:selected {
    -fx-font-weight: bold;
    -fx-background-color: black;
}

.manage-button {
    -fx-background-radius: 15; /* Add background radius */
    -fx-border-width: 0.5; /* Add border width */
    -fx-border-radius: 15; /* Add border radius */
}

.manage-button:hover {
    -fx-font-size: 26pt; /* Increase font size on hover */
    -fx-scale-x: 1.1; /* Scale button size on hover */
    -fx-scale-y: 1.1;
    -fx-cursor: pointer;
}

.orange-button {
    -fx-font-weight: bold;
    -fx-font-size: 17pt;
    -fx-font-family: 'Impact';
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 10);
    -fx-transition: all 0.3s ease;
    -fx-background-color: transparent;
    -fx-background-radius: 15; /* Add background radius */
    -fx-border-width: 0.5; /* Add border width */
    -fx-border-radius: 15; /* Add border radius */
}

.orange-button:hover {
    -fx-font-size: 26pt; /* Increase font size on hover */
    -fx-scale-x: 1.1; /* Scale button size on hover */
    -fx-scale-y: 1.1;
    -fx-background-color: transparent;

}

.pink-button {
    -fx-font-weight: bold;
    -fx-font-size: 17pt;
    -fx-font-family: 'Impact';
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 10);
    -fx-transition: all 0.3s ease;
    -fx-background-color: transparent;
    -fx-background-radius: 15; /* Add background radius */
    -fx-border-width: 0.5; /* Add border width */
    -fx-border-radius: 15; /* Add border radius */
}

.pink-button:hover {
    -fx-font-size: 26pt; /* Increase font size on hover */
    -fx-scale-x: 1.1; /* Scale button size on hover */
    -fx-scale-y: 1.1;
}

.yellow-button {
    -fx-font-weight: bold;
    -fx-font-size: 17pt;
    -fx-font-family: 'Impact';
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 10);
    -fx-transition: all 0.3s ease;
    -fx-background-color: transparent;
    -fx-background-radius: 15; /* Add background radius */
    -fx-border-width: 0.5; /* Add border width */
    -fx-border-radius: 15; /* Add border radius */
}

.yellow-button:hover {
    -fx-font-size: 26pt; /* Increase font size on hover */
    -fx-scale-x: 1.1; /* Scale button size on hover */
    -fx-scale-y: 1.1;
}

.purple-button {
    -fx-font-weight: bold;
    -fx-font-size: 17pt;
    -fx-font-family: 'Impact';
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 10);
    -fx-transition: all 0.3s ease;
    -fx-background-color: transparent;
    -fx-background-radius: 15; /* Add background radius */
    -fx-border-width: 0.5; /* Add border width */
    -fx-border-radius: 15; /* Add border radius */
}

.purple-button:hover {
    -fx-font-size: 26pt; /* Increase font size on hover */
    -fx-scale-x: 1.1; /* Scale button size on hover */
    -fx-scale-y: 1.1;
}
.sidebar {
    -fx-background-color: #232323;
    -fx-padding: 20px;
}

.sidebar-button {
    -fx-font-size: 20pt;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -jfx-button-type: RAISED;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 10);
    -fx-font-family: Impact;
}

.sidebar-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.button-text {
    -fx-font-weight: bold;
    -fx-font-family: Impact;
}

.scroll-pane .scroll-bar {
    -fx-background-color: #1a1a1a;
}
.chart {
    -fx-legend-visible: true;
}

.chart-title, .chart-legend-item-symbol, .axis-label, .axis-tick-mark-text {
    -fx-text-fill: white;
}

.chart-legend {
    -fx-text-fill: white;
}

.chart-pie-label {
    -fx-text-fill: white;
}
.custom-combo-box .list-cell {
    -fx-text-fill: white;
    -fx-background-color: #212121;
}

.custom-combo-box .combo-box-popup .list-view .list-cell:filled:selected,
.custom-combo-box .combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: black; /* Same as the ComboBox background */
    -fx-text-fill: white;
}
.chart-bar {
    -fx-bar-fill: hotpink
}






